# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [2]:
def add_two(x):
    return x+2

add_two(4)

6

In [5]:
#Lambda function syntax
#Example of calling a lambda function immediatly

(lambda x: x+2)(4)

6

#### Saving to a Variable

In [7]:
f_test = lambda x: x+2

f_test

In [8]:
f_test(3)

5

#### Multiple Inputs

In [9]:
#multiple inputs with no variable

(lambda x,y,z: x*y+z)(4,5,7)

27

In [10]:
mult_test = lambda x,y,z:x*y+z

mult_test(4,5,7)

27

In [11]:
(lambda name: name.upper())('allison')

'ALLISON'

#### Passing a Lambda into a Function

In [15]:
#lets start by first talking about passing a function in a function

def apply_func(f,name):
    return f(name)

#this is an example of using a built in function within a function 
#we are passing the name into the function.

apply_func(str.upper, 'allison')

'ALLISON'

In [17]:
#passing a lambda into a funtion is a popular way to do this
#this function is followed by the input 
apply_func(lambda a_string: a_string[0],'codingtemple')

'c'

#### Returning a Lambda from a Function

In [19]:
# lets talk about returning a function from a function
#this is a regularly defined function
def mult_test(num):
    return num *4

test = mult_test(10)
print(test)
print(type(test))

40
<class 'int'>

In [22]:
def multiply_test(num):
    a = 5
    def inner_function (c,d):
        return (a*num) - (c*d)
    return inner_function

test_1 = multiply_test(10)
print(test_1)
print (type(test_1))

<function multiply_test.<locals>.inner_function at 0x10bd7fdc0>
<class 'function'>

In [24]:
#this is the inner funtion working 
#the total 35 came from multiplying the 5 and 10 then subtracting 15

test_1(3,5)

35

In [25]:
def return_lambda(num):
    a = 10
    return lambda c,d: (num*a) -(c*d)

lambda_test = return_lambda(5)
print(lambda_test)
print(type(lambda_test))

<function return_lambda.<locals>.<lambda> at 0x10bd7ff70>
<class 'function'>

In [27]:
lambda_test(4,5)

30

#### If Statements within Lambdas

In [28]:
def do_something(num):
    if num > 10:
        return num*2
    else:
        return num +2
    
do_something(11)

22

In [30]:
# lambda input(s): return True if (conditon) else Return False

do_lambda = lambda num: num *2 if num >10 else num +2

do_lambda(11)

22

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [32]:
lambda_cubed = lambda f: f**3 

lambda_cubed(10)

1000

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [33]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [35]:
#map(function, iterable -> list, tuple,set, etc)

def squared_minus_two(a):
    return a**2-2

numbers = [2,4,6,8,0,9,7,5,3,1]

mapped_nums = map(squared_minus_two, numbers)
list(mapped_nums)

[2, 14, 34, 62, -2, 79, 47, 23, 7, -1]

In [36]:
nums = [1,2,3,4,5,6]
more_nums = [7,8,9,10]
list(map(squared_minus_two, nums,more_nums))

TypeError: squared_minus_two() takes 1 positional argument but 2 were given

In [39]:
def some_function (a, b):
    if a >b:
        return (a, b**2)
    else:
        return (a**2, b)
    
nums = [1,10,34,54,5,76]
more_nums = [7,8,90,10]
list(map(some_function, nums,more_nums))

[(1, 7), (10, 64), (1156, 90), (54, 100)]

#### Using Lambda's with Map

In [41]:
mapped_squares_list = list(map(lambda x: x**2-2,numbers))
mapped_squares_list

[2, 14, 34, 62, -2, 79, 47, 23, 7, -1]

In [42]:
list(map(lambda x,y:(x,y**2) if x > y else (x**2,y),nums,more_nums))

[(1, 7), (10, 64), (1156, 90), (54, 100)]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [43]:
a_list = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x: (x*2)-1 ,a_list))

[1, 5, 9, 17]

In [44]:
a_list = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: (x*2) if x % 2 == 0 else (x/2) ,a_list))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [54]:
names = ['Bob', 'Andy', 'Max', 'Evan', 'Angela']

def starts_with_an_a (name):
    if name [0].lower() == 'a':
        return True
    else:
        return False
    
a_names_mapped = list(map(starts_with_an_a,names))
print(a_names_mapped)

a_names_filtered = list(filter (starts_with_an_a,names))
print(a_names_filtered)

[False, True, False, False, True]
['Andy', 'Angela']

#### Using Lambda's with Filter()

In [56]:
names = ['Bob', 'Andy', 'Max', 'Evan', 'Angela']

a_names = list(filter(lambda n: n[0].lower() == 'a' ,names))
a_names

['Andy', 'Angela']

In [59]:
def remainder(x):
    return x % 3

remainder(1)

#when the remainder == 0 it is false 
list(filter(remainder, [1,2,3,4,5,6,7,8,9]))

[1, 2, 4, 5, 7, 8]

In [83]:
def empty_or_full_list(x):
    if x **2 > 10:
        return [1,2,3]
    else:
        return []

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [60]:
import random
nums = [random.randint(1,100) for i in range(10)]

print(nums)

[79, 76, 68, 15, 39, 79, 75, 6, 88, 19]

In [66]:
import statistics

In [67]:
numbers_list = [15,3,57,8,13,56,40,83,83,90]
mean_of_num = statistics.mean(numbers_list)
mean_of_num

44.8

In [ ]:
#below_mean= list(filter( ))

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [69]:
from functools import reduce

In [70]:
# This function reduces the sequence to a single value 
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [75]:
list_1 = [2,4,6,8,10]
def add_nums(num1, num2):
    print('==============')
    print(f'num1: {num1}')
    print(f'num2: {num2}')
    return num1 + num2

result_add= reduce(add_nums, list_1)
print(result_add)

==============
num1: 2
num2: 4
==============
num1: 6
num2: 6
==============
num1: 12
num2: 8
==============
num1: 20
num2: 10
30

In [76]:
list_1 = [2,4,6,8,10]
def sub_nums(num1, num2):
    print("==============")
    print(f'num1: {num1}')
    print(f'num2: {num2}')
    return num1 - num2

result_sub= reduce(sub_nums, list_1)
print(result_sub)

==============
num1: 2
num2: 4
==============
num1: -2
num2: 6
==============
num1: -8
num2: 8
==============
num1: -16
num2: 10
-26

#### Using Lambda's with Reduce()

In [77]:
result_lamb = reduce(lambda num1, num2: num1 + num2, list_1)
print(result_lamb)

30

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [78]:
list_1

[2, 4, 6, 8, 10]

In [80]:
mult_lamb = reduce (lambda num1,num2: num1*num2,list_1)
mult_lamb

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [ ]:
# a recursive function is one that calls itself
def full_name(first, last):
    return first + ' '+last


def greet_person(first, last, day_of_week):
    person_full_name = full_name(first, last)
    print(f'Hello {person_full_name}, it sure is a beautiful {day_of_week}')
    
greet_person('Allie','Allison', 'Tuesday')

#### Implementing a Base Case

In [88]:
def add_nums (num):
    #set a base case for recursive function. 
    if num <=1:
        print(f'add_nums({num})= {num}')
        return num
    else:
        print(f'add_nums({num})= {num} + add_nums({num-1})')
        return num + add_nums(num-1)
        
add_nums(5)

add_nums(5)= 5 + add_nums(4)
add_nums(4)= 4 + add_nums(3)
add_nums(3)= 3 + add_nums(2)
add_nums(2)= 2 + add_nums(1)
add_nums(1)= 1

15

#### Writing a Factorial Function

In [91]:
# 5! = 5*4*3*2*1

def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [94]:
a = map(len,["Brian", "Tatiana","Ryan"])
a[2]

TypeError: 'map' object is not subscriptable

In [95]:
for i in a:
    print(i)

5
7
4

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [98]:
# yield doesnt save to any memory so it is more energy efficiant 
#this means that you can work with it but you cannot recall it
#once the generator runs it gets rid of the output
def my_range(start,stop, step =1):
    while start < stop:
        yield start 
        start += step
        
cool_range = my_range(0,10)

In [99]:
for x in cool_range:
    print(x**2)

0
1
4
9
16
25
36
49
64
81

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [118]:
def squared_generator(num):
    while num >= 0:
        yield num **2
        num -= 1
        
my_gen = squared_generator(10)
next(my_gen)

100

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [147]:
import re

In [157]:

places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]


list(filter(lambda x:  x != "" and x != " " and x != "  "  ,places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [308]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
pretty_name=[]
print (author)

for name in author:
    name = name.title()
    pretty_name.append(name)
print(pretty_name)

pretty_name.sort(key = lambda name: name.split(' ')[-1])
print(pretty_name)

['Joel Carter', 'Victor aNisimov', 'Andrew P. Garfield', 'David hassELHOFF', 'Gary A.J. Bernstein']
['Joel Carter', 'Victor Anisimov', 'Andrew P. Garfield', 'David Hasselhoff', 'Gary A.J. Bernstein']
['Victor Anisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David Hasselhoff']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [309]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]
#how do you access this information?

#the pair is the individual pairs
# pair[0] is referencing the city. We do not do anything with that information
#the pair[1] is accessing the temperature and this is where we can apply the equation 
list(map(lambda pair: (pair[0],pair[1]*(9/5) + 32) ,places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [289]:
#how do you calculate fibbonacci sequence?

def fib_seq(n):
    # 0 and 1 will return 0 and 1
    if n <= 1:
        return n
    #anything over two will use the apllied formula
    #this is how we calculate the next number. for example (4-1) +(4-2) = (3+2)= 5 
    # what the equation is saying is for the current iteration (n) you will calculate the new number 
    else:
        return (fib_seq(n-1) + fib_seq(n-2))

In [290]:
fib_seq(10)

55

In [297]:
nums=fib_seq(10)